<h2>View Index cua Student Controller: @ViewBag.Message</h2>
<form asp-action="Index">
    <input type="text" name="StudentCode">
    <input type="text" name="FullName">
    <input type="submit" name="Bấm vào để gửi">
</form>